.devolver-container {
  padding: 1.5rem;
}

.devolver-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #62019e;
  cursor: pointer;
}

.logo-header {
  width: 60px;
}

h1 {
  color: #62019e;
  font-size: 1.5rem;
}

/* Card */
.devolver-card {
  border: 2px solid #62019e;
  border-radius: 20px;
  padding: 2rem;
  background: white;
  max-width: 850px;
  margin: 2rem auto;
  text-align: center;
}

.devolver-card h2 {
  color: #2c005a;
  margin-bottom: 1.5rem;
}

/* Tabla */
.tabla-wrapper {
  overflow-x: auto;
  background: #62019e;
  border-radius: 10px;
  padding: 1rem;
}

.productos {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.productos th, .productos td {
  padding: 0.8rem;
  text-align: center;
  font-size: 0.95rem;
  border-bottom: 1px solid #ccc;
}

.productos th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.productos tr:last-child td {
  border-bottom: none;
}

/* Botón */
.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.btn-green {
  background-color: #b2fcd2;
  color: black;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
